body
{
	background-image: url(image/hg.jpg);
	background-size: cover;
	margin: 0;
	font-family:Microsoft JhengHei;
	font-style: border;
}

.tit
{
}

.titnum
{
	font-size: xx-large;
	font-family: DFKai-sb;
}

.bt
{
   background-color:#FFFF33;
   width: 10em;
   height: 3em;
}

.gt
{
   background-color:#C10066;
   width: 10em;
   height: 3em;
}
.gc
{
   background-color:#99DD00;
   width: 10em;
   height: 3em;
}

.gp
{
   background-color:##0000CC;
   width: 10em;
   height: 3em;
}
.ga
{
   background-color:#227700;
   width: 10em;
   height: 3em;
}





.left
{
	position: absolute;
	float: left;
	left: 15%;
	width: 30%;
	height: 30%;
}



.right
{
	position: absolute;
	float: left;
	left:  60%;
	width: 30%;
	height: 30%;
}

.rightnum
{
	background-color: green;
	width: 500px;
    height:500px;
}

.photo1,.photo2,.photo3,.photo4
{
	height: 200px;
	width: 200px;
}

.rightfont
{
	font-size: large;
	color: #666666;
}
img.aacsb
{
        float:left;
}
.map
{
	float: left;
}
.word
{
	font-family: DFKai-sb;
}